@model KTBook.Models.Product

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div>
                    <img src="~/img/@Model.Image" alt="" class="img-fluid wc-image">
                </div>
            </div>
            <div class="col-md-8 col-xs-12">
                <form action="#" method="post" class="form">
                    <h2>@Model.Name</h2>
                    <br>
                    <p class="lead">
                        <small><del> $999</del></small><strong class="text-primary">$@Model.Price</strong>
                    </p>
                    <br>
                    <p class="lead">
                        Description: @Model.Description
                    </p>
                    <br>
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="control-label">Quantity</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <a asp-controller="Customer" asp-action="AddtoCart" asp-route-Id="@Model.Id" class="btn btn-primary btn-block">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



